/* Styles für Navigationsleiste */
.navbar {
  background-color: #002277;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a, .dropbtn {
  background-color: #002277;
  border: none;
  color: white;
  font-family: consolas;
  font-size: 20px;
  padding: 32px 16px;
  text-align: left;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: #0055bb;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  background-color: #0055bb;
  color: white;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropbtn {
  background-color: #003399;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {
  background-color: #003399;
}

.navbar a:hover {
  background-color: #003399;
}

/* Styles für einzelne Seiten */
h1 {
  font-size: 56px;
  margin-top: 112px;
}

h1, h2, h3{
  font-family: consolas;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  font-size: 40px;
  margin-top: 48px;
}

hr {
  margin-bottom: 36px;
  margin-top: 36px;
}

p {
  font-family: tahoma;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  text-align: center;
}

body {
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}

a {
  color: #0055bb;
}

span {
  font-family: tahoma;
  text-align: center;
}

img {
  display: inline-block;
  width: 40%;
}

/* Tabellen */

/* Beispiele Adressen */
.bsp {
  background-color: #0055bb;
  border-radius: 25px;
  box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2);
  margin-bottom: 36px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
  padding-top: 36px;
  max-width: 500px;
}

.weiss {
  color: white;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.adresse {
  color: white;
  font-size: 36px;
  margin: 0;
  max-width: 100%;
}

.unsichtbar {
  display: none;
}

.rot {
  color: #FF6961;
  display: inline-block;
  font-family: tahoma;
  text-align: center;
}

.gelb {
  color: #FDFD96;
  display: inline-block;
  font-family: tahoma;
  text-align: center;
}

/* IP-Adressen */
.bilder {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.links {
  margin-left: 5%;
  margin-right: 10%;
}

/* IPv4 vs IPv6 */
.nt {
  margin-left: 5%;
  margin-right: 70%;
  width: 10%;
}

.ht4 {
  width: 10%;
}

.präfix {
  margin-left: 4%;
  margin-right: 72%;
}


/* DNS */
.searchbar {
  background-color: white;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

/* MAC-Adressen */
.herstellkennung {
  margin-left: 10%;
  width: 40%;
}

.gerätkennung {
  width: 40%;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: 300px;
}
