body {
  font-family: Arial;
  margin: 0;
}

div = {
  margin: 0;
  padding: 0;
}


/* Styles für Navigationleiste */
.navbar {
  background-color: #002277;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a, .dropbtn {
  font-family: consolas;
  font-size: 20px;
  padding: 32px 16px;
  text-align: left;
  color: white;
  text-decoration: none;
  border: none;
  background-color: #002277;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #003399;
  min-width: 150px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #003399;
}

.dropdown:hover .dropbtn {
  background-color: #003399;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {
  background-color: white;
}
