html {
  -webkit-user-select: none;
  user-select: none;
}

/* Styles für Navigationsleiste */
.navbar {
  background-color: #002277;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a, .dropbtn {
  background-color: #002277;
  border: none;
  color: white;
  font-family: consolas;
  font-size: 20px;
  padding: 32px 16px;
  text-align: left;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.navbar .dropdown-content {
  background-color: #0055bb;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  background-color: #0055bb;
  color: white;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropbtn {
  background-color: #003399;
}

.dropdown:hover .dropdown-content, td:hover .dropdown-content {
  display: block;
}

.dropdown a:hover {
  background-color: #003399;
}

.navbar a:hover {
  background-color: #003399;
}

/* Styles für einzelne Seiten */
h1 {
  font-size: 56px;
}

h1, h2, h3{
  font-family: consolas;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  font-size: 40px;
  margin-top: 48px;
}

hr {
  margin-bottom: 36px;
  margin-top: 36px;
}

p {
  font-family: tahoma;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  text-align: center;
}

body {
  background-color: #ECECEC;
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}

a {
  color: #0055bb;
}

span {
  font-family: tahoma;
  text-align: center;
}

img {
  display: inline-block;
  width: 40%;
}

table {
  display: inline-block;
}

table, tr, td  {
  border-collapse: collapse;
  font-family: tahoma;
}

.text-box {
  background-color: white;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 90%
}

/* Binärsystem */
.binaer-tabelle th, .binaer-tabelle td {
  border: 1px solid black;
}

.binaer-tabelle th, .binaer-tabelle td{
  padding: 10px 20px;
}
/* Bit und Byte */
.bit-tabelle th, .bit-tabelle td {
  border: 1px solid black;
  font-family: consolas;
}

.bit-tabelle th, .bit-tabelle td{
  padding: 5px 5px;
}

.zwei-tabelle th, .zwei-tabelle td{
  border: 1px solid white;
  font-family: consolas;
  padding: 1px 0px;
}

.bit-beispiel th, .bit-beispiel td {
  border: 1px solid black;
  font-family: consolas;
  padding: 5px 5px;
}

/* Beispiele Adressen */
.bsp {
  background-color: #0055bb;
  border-radius: 25px;
  box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2);
  margin-bottom: 36px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding-bottom: 36px;
  padding-top: 36px;
}

.bsp p {
  color: white;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.adresse {
  color: white;
  font-size: 36px;
  margin: 0;
  max-width: 100%;
}

.unsichtbar {
  display: none;
}

.rot {
  color: #FF6961 !important;
  display: inline-block;
}

.gelb {
  color: #FDFD96 !important;
  display: inline-block;
}

/* IP-Adressen */
.bilder {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.links {
  margin-left: 5%;
  margin-right: 10%;
}

/* IPv4 vs IPv6 */
.nt {
  margin-left: 5%;
  margin-right: 70%;
  width: 10%;
}

.ht4 {
  width: 10%;
}

.präfix {
  margin-left: 4%;
  margin-right: 72%;
}

/* Internet Protocol */
ul li {
  font-family: consolas;
  font-size: 32px;
  margin-top: 36px;
  text-align: center;
}

#paket {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  max-width: 400px;
}

.datagram-tabelle {
  border: none;
  border-collapse: separate;
}

.datagram-tabelle th {
  color: #0055bb;
  opacity: 0.5;
  text-align: center;
  width: 24px;
}

.datagram-tabelle td {
  background-color: #0055bb;
  border: none;
  color: white;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
}

td:hover .dropdown-content p {
  background-color: #80aadd;
  box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2);
  margin-left: 0;
  margin-top: 18px;
  padding: 18px;
}

/* DNS */
.searchbar {
  background-color: white;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

ol li {
  font-family: tahoma;
  font-size: 24px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 36px;
  text-align: center;
}

.thld {
  margin-left: 5%;
  width: 30%;
}

.sld {
  width: 30%;
}

.tld {
  width: 30%;
}

.pink {
  color: pink !important;
  display: inline-block;
}

.pfeil {
  color: white;
  background-color: #0055bb;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 48px;
  padding-bottom: 12px;
  padding-top: 12px;
}

/* MAC-Adressen */
.herstellkennung {
  margin-left: 10%;
  width: 40%;
}

.gerätkennung {
  width: 40%;
}

/* Index */
.title {
  font-size: 60px;
  font-family: consolas;
  color: white;
}

.titlelink {
  color: white;
  display: block;
  font-size: 30px;
  font-family: consolas;
  text-align: center;
}

.titlelink:hover {
  color: gray;
}
